<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Home</a>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
        <footer>
            @RenderSection("footer", false)
            @await Component.InvokeAsync("Greeting")
        </footer>
    </div>

    @*Tag helper environment*@
    <environment name="Development">
        <script src="/node_modules/jquery/dist/jquery.js"></script>
        <script src="/node_modules/jquery-validation/dist/jquery.validate.js"></script>
        <script src="/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment name="Staging, Production">
        @*https://www.asp.net/ajax/cdn*@
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js" 
                asp-fallback-src="/node_modules/jquery/dist/jquery.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.1/jquery.validate.min.js"
                asp-fallback-src="/node_modules/jquery-validation/dist/jquery.validate.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">

        </script>
        <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">

        </script>
    </environment>
    
</body>
</html>
