@model galante_se.ViewModels.HomePageViewModel

@{ 
    ViewBag.Title = "Home";
}

<h1>Welcome!</h1>

@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant)
}


<div>
    @*using a taghelper instead if html-helper*@
    <a asp-controller="Home" asp-action="Create">Create</a>
</div>

@*@section footer{
    <div>@Model.Greeting</div>
}*@